{% extends 'main/main.html'%}

{% block title %}
Collection
{% endblock title %}

{% block content %}
<div class="row">
    {% for item in category %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ item.img_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="text-muted">Posted on: {{item.created_at}}</p>
                <p class="card-text">{{item.description}}</p>
                <a href="#" class="btn btn-primary">View Details.</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
